<h1>Item Details</h1>

<p><b>Product: <%= @item.product.item_name %><br>
Aisle: <%= @item.product.aisle %><br>
Side: <%= @item.product.side %></b></p>
  
<h3>Update Quantity:</h3>

<%= render 'form', item: @item %>
