<nav class='navbar navbar-light bg-primary'>
  <div>
    <b><%= link_to 'ShoppingHelper', '/', class: 'text-white' %></b>
    <%= link_to 'NewProduct', new_product_path, class: 'text-white' %>
  </div>
  <div>
    <%= link_to 'CreateAccount', new_user_path, class: 'text-white' %>
  </div>
</nav>
